html[data-bs-theme="light"] {
    --tool-border-color: #888888;
    --tool-background-color: #ebebeb;
    --tool-background-color-hover: #d7c2c2;
    --tool-background-color-active: #aba0a0;
}

html[data-bs-theme="dark"] {
    --tool-border-color: #424242;
    --tool-background-color: #222427;
    --tool-background-color-hover: #26282b;
    --tool-background-color-active: #2a2b2e;
}

.tools {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;

    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 1030px) {
    .tools {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1130px) {
    .tools {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1430px) {
    .tools {
        grid-template-columns: repeat(4, 1fr);
    }
}

.tools-group {
    padding-bottom: 10px;
}

.tools-group.blue {
    --tool-color: #0000ff;
    --tool-icon-color: #ffffff;
}

.tools-group.green {
    --tool-color: #448944;
    --tool-icon-color: #ffffff;
}

.tools-group.red {
    --tool-color: #ff0000;
    --tool-icon-color: #ffffff;
}

.tools-group.yellow {
    --tool-color: #ffff00;
    --tool-icon-color: #000000;
}

.tools-group.orange {
    --tool-color: #ff5733;
    --tool-icon-color: #ffffff;
}

.tools-group.pink {
    --tool-color: #ff0062;
    --tool-icon-color: #ffffff;
}

.tools-group.purple {
    --tool-color: #800080;
    --tool-icon-color: #ffffff;
}

.tools-group.gray {
    --tool-color: #4e4848;
    --tool-icon-color: #ffffff;
}

.tool {
    color: unset;
    text-decoration: unset;

    display: block;

    max-width: 500px;
}

.tool-body {
    height: 70px;
}

.tool-icon-div {
    color: var(--tool-icon-color);
    background-color: var(--tool-color);

    float: left;
    height: 100%;
    aspect-ratio: 1 / 1;

    font-size: 40px;
    position: relative;

    border-style: solid;
    border-width: 1px;
    border-color: var(--tool-border-color);

    border-right-style: none;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tool-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tool-name {
    float: left;

    height: 100%;
    width: calc(100% - 70px);

    border-style: solid;
    border-width: 1px;
    border-color: var(--tool-border-color);

    border-left-style: none;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    padding-left: 10px;

    font-size: 22px;

    display: flex;
    align-items: center;

    background-color: var(--tool-background-color);
}

.tool:hover {
    --tool-background-color: var(--tool-background-color-hover);
}

.tool:active {
    --tool-background-color: var(--tool-background-color-active);
}

.tool-name-text {
    position: relative;
    top: -2px;
}

footer {
    background-color: var(--bs-gray-700);
}

.home-link {
    color: unset;
    text-decoration: unset;
}
